.col-md-4{
	width: 33.33%;
}
.col-md-8{
	width: 66.66%;
}



@media only screen and (max-width: 980px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
    	width: 50%;
    }
}

@media only screen and (max-width: 640px) {
    [class*="col-"] {
    	width: 100%;
    }
}

